/* color del logo y el menu text-decoration quita la linea
subrayado*/

a {
    text-decoration: none;
    color: #2196F3
}

.menu li {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #2196F3;

}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    color: #2196F3;
}

.contact {
    color: #757575;
}

.contact:hover {
    color: #212121;
}


/* Section banner css */
.banner {
    background: #2F303A;
}

.banner h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    color: #FFFFFF;
}

.banner button {
    color: #FFFFFF;
    background: #2196F3;
}

.button {
    cursor: pointer;
}


/* Section skills text */
.skills h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #212121;
}

.skills p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 146%;
    color: #757575;
}

/* Titles */
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #212121;
}

/* Title team */

.profile h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #212121;
}

span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* Footer */

.footer {

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    background: #2F303A;

}

.menu-footer a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ffffffa8;
}

.menu-footer .contact:hover {
    color: #2196F3;
}


/* Portafolio */

.btaz {
    color: #FFFFFF;
    background-color: #2196F3;
    border-color: #FFFFFF;
}

.btngr {
    color: #2196F3;
    background-color: #F5F4FA;
}

/* Active: Activa un elemento (botón y enlace) se pone la ubicación su bordo azul
   Focus: Activa un elemento interactivo (botón y enlace) */

.btaz:hover,
.btaz:active {
    color: #212121;
    border-color: #2196F3;
}


.btngr:hover,
.btngr:active{
    color: #757575;
    border-color: #2196F3;
}

.link:hover,
.link:active {
    color: #212121;
}


/* Contenedor 1,2 y 3 de imagenes de portafolio
clases para css de textos de imagenes*/
.site h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #212121;
}

.site span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
